<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/landing-page.css" />
    <title>Lịch Sử</title>
  </head>
  <body id="ls">
    <div class="ls">
      <h1>LỊCH SỬ NGUỒN GỐC</h1>
      <h2>Lịch sử hình thành phát triển bộ môn SDMAS</h2>
      <div class="main-ls">
        <p id="mota">Mô tả</p>
        <div class="conten-ls">
          <pre style="font-size: 13px">
          <b>
              {{ content | safe }}
          </b>
                </pre>
        </div>
        <div class="btn-ls">
          <a href="{{ url_for('home') }}">Đã rõ!</a>
        </div>
      </div>
    </div>
  </body>
</html>
