<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <link 
      rel="stylesheet"
      href="../node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container text-center mt-5">
      <h2>Nhập mã OTP và mật khẩu mới</h2>

      <form 
      method="POST" 
      action="{{ url_for('reset_password') }}" 
      class="mt-4">
        <div class="form-group mb-3">
          <label for="otp">Mã OTP</label>
          <input 
          type="text" 
          id="otp" 
          name="otp" 
          class="form-control" 
          placeholder="Nhập mã OTP" 
          required />
        </div>
        <div class="form-group mb-3">
          <label for="new_password">Mật khẩu mới</label>
          <input 
          type="password" 
          id="new_password" 
          name="new_password" 
          class="form-control" 
          placeholder="Nhập mật khẩu mới" required />
        </div>
        <button type="submit" class="btn btn-primary w-100">Đặt lại mật khẩu</button>
      </form>

    </div>
  </body>
</html>
